streamlit==1.37.1
pandas==2.2.2
pyyaml==6.0.2
plotly==5.23.0
streamlit-plotly-events==0.0.6
streamlit-autorefresh==1.0.1
SQLAlchemy==2.0.32
psycopg2-binary==2.9.9
pillow==10.4.0
deltalake==0.20.2
pyarrow==17.0.0
